.signup-form-container {
    background: linear-gradient(to bottom, #ebf8ff, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0.5rem;
  }
  
  .signup-form-wrapper {
    width: 100%;
    max-width: 400px;
    border-radius: 0.75rem;
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-title {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
  }
  
  .form-subtitle {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #4b5563;
  }
  
  .form {
    margin-top: 2rem;
  }
  
  .input-group {
    display: grid;
    gap: 1rem;
  }
  
  .input-field {
    position: relative;
  }
  
  .icon {
    position: absolute;
    inset: 0 0 auto 0.75rem;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  
  .icon-size {
    width: 1.25rem;
    height: 1.25rem;
    color: #9ca3af;
  }
  
  .input-box {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    font-size: 0.875rem;
    color: #1f2937;
    background: #ffffff;
  }
  
  .input-box:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.5rem;
    background: #2563eb;
    padding: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: #1d4ed8;
  }
  
  .login-link {
    text-align: center;
  }
  
  .login-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: black;
    background: whitesmoke;
    cursor: pointer;
  }
  
  .login-text:hover {
    color: white;
    text-decoration: none;
    
  }
  